<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        Blog Guia Press
    </a>
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link navbar-brand" href="/admin/categories">Categorias</a>
        </li>
    </ul>
</nav>